<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /plane/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /plane/index.html [L]
</IfModule>
