VITE_API_BASE_URL=""
VITE_ROUTER_BASENAME="/plane"

VITE_WEB_BASE_URL="http://localhost:3000"

VITE_ADMIN_BASE_URL="http://localhost:3001"
VITE_ADMIN_BASE_PATH="/god-mode"

VITE_SPACE_BASE_URL="http://localhost:3002"
VITE_SPACE_BASE_PATH="/spaces"

VITE_LIVE_BASE_URL="http://localhost:3100"
VITE_LIVE_BASE_PATH="/live"
VITE_RPC_URL="http://192.168.1.231:10747"
VITE_WS_URL="ws://192.168.1.231:10747/ws"
# MetaNode/FIAI. Never expose a private key through a VITE_* variable.
VITE_CHAIN_ID="991"
VITE_CONTRACT_ADDRESS="0x929e49C645894bDF49ABF5aa4Ce752573F38D699"
VITE_REGISTRY_CONTRACT_ADDRESS="0x1D493a4deD8863BE4dfe8b27DC86F1aBaa940C6D"
VITE_WORKSPACE_REGISTRY_ADDRESS="0x46E0467C8236cbF46b88eA7e606aa2a0662defB7"
VITE_URL_CONNECT_WALLET="http://localhost:6005"
VITE_FIAI_BLOCKCHAIN_BRIDGE_URL="http://localhost:6001/"
VITE_FIAI_CRYPTO_VAULT_URL="http://localhost:6002/"
VITE_FIAI_FILE_PROCESSOR_URL="http://localhost:6003/"
VITE_FIAI_TIMEOUT="60000"
VITE_ONCHAIN_TASKS_ENABLED="true"
VITE_CONTRACT_GAS="3000000"
RPC_ALLOW_INSECURE_TLS="true"
VITE_API_PROXY_TARGET="http://127.0.0.1:8080"
VITE_MOCK_FIAI="false"
VITE_PINATA_PROXY_URL="https://plane-ipfs-proxy.anh2482006.workers.dev"
VITE_IPFS_GATEWAYS="https://gateway.pinata.cloud/ipfs/,https://cloudflare-ipfs.com/ipfs/,https://ipfs.io/ipfs/,https://dweb.link/ipfs/"
VITE_DEFAULT_WORKSPACE_SLUG="fiai"
VITE_DEFAULT_WORKSPACE_NAME="FIAI"